@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    background: #1E1E1E;
    font-family: 'Montserrat';
    font-weight: 400;
}

div {
    background: none;
}

h1, p {
    background: transparent;
}

table, tbody, tr, th, td{
    background-color: rgba(0, 0, 0, 0.0) !important;
}

i {
    background: transparent;
}

a {
    background: transparent;
    color: white;
}

button {
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

button:hover {
    opacity: 0.7
}

form {
    background-color: transparent;
}

input {
    outline: none;
    padding: 10px 20px;
}

::placeholder {
    color: #1a1a1a;
    font-size: 12px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    background: #1E1E1E;
    height: 75px;
    color: white;
}

header .col-1 {
    min-width: 200px;
}

header .col-2 {
    width: 100%;
}

header .col-3 {
    min-width: 200px;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
    line-height: 75px;
    padding-left: 12px;
}

header .icons-right {
    margin-right: 25px;
    margin-left: auto;
}

header .header-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 75px;
    padding-left: 3px;
}

header .header-icon {
    line-height: 75px;
    font-size: 26px;
}

header i {
    padding-left: 15px;
}

footer {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    height: 140px;
    background: #1E1E1E;
}

footer h1 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
    padding-left: 12px;
}

footer .contact-icons {
    display: flex;
    justify-content: space-around;
}

footer .contact-icons i {
    font-size: 48px;
}
/* containers */

.container {
    max-width: 1200px;
    margin: auto;
}

.container-fix-width {
    position: relative;
    height: inherit;
    width: 1200px;
    background: transparent;
    margin: auto;
}

.flex-center-wrapper {
	display: flex;
    justify-content: center;
}

.bottom-abs {
    bottom: 0%;
}

.top-abs {
    top: 0%;
}

@media (max-width: 800px) {
    header .header-link {
        display: none
    }
    header .col-1 {
        min-width: 100px;
    }
    header .col-3 {
        min-width: 100px;
    }
}